---
import MainLayout from "../layouts/MainLayout.astro";
import {Content as AboutUs} from '../content/about-us.md';
---

<MainLayout title="About">
	<p>Dragée wafer lemon drops carrot cake cake wafer danish halvah. Soufflé cake wafer candy canes sweet roll lemon drops. Biscuit candy cookie dragée jelly-o pastry gummies cake. Marshmallow gummi bears sweet wafer cookie. Jelly beans topping caramels tart oat cake sweet powder. Ice cream bear claw jelly-o gummies lollipop cotton candy donut liquorice. Tiramisu bonbon ice cream caramels pie. Sugar plum wafer gummi bears powder gummies marshmallow. Donut cupcake icing donut cupcake danish chupa chups pastry. Ice cream donut oat cake caramels sugar plum soufflé. Ice cream pie gingerbread sugar plum shortbread halvah. Tart jelly bear claw tootsie roll sesame snaps shortbread biscuit.</p>
	<AboutUs></AboutUs>
</MainLayout>

<style>
	p {
		color: pink;
	}
</style>
