---
import MainLayout from "../layouts/MainLayout.astro";
import {Content as About} from '../content/about.md';
import ThumbnailArticle from "../components/ThumbnailArticle.astro";
---

<MainLayout title="About">
	<div class="bg-white py-24 sm:py-32">
		<div class="mx-auto max-w-7xl px-6 lg:px-8">
			<h1 class="text-6xl py-14">About Astro</h1>

		  <div class="mx-auto max-w-2xl lg:mx-0">
			<About />
		  </div>

		  <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
			<ThumbnailArticle>
				<p>
					Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta.
				</p>
			</ThumbnailArticle>

			<ThumbnailArticle>
				<p>
					Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta.
				</p>
			</ThumbnailArticle>

			<ThumbnailArticle>
				<p>
					Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta.
				</p>
			</ThumbnailArticle>

			<ThumbnailArticle>
				<p>
					Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta.
				</p>
			</ThumbnailArticle>
		  </div>
		</div>
	</div>	
</MainLayout>
