---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
	<p id="paragraph" class="text-xl text-cyan-600">Test index</p>
</MainLayout>

<script>
	import "../js/utils.js"
</script>
