---
import Button from "../components/common/Button.vue";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
	<section class="mx-auto w-full max-w-container px-4 sm:px-6 lg:px-8">
		<Button class="mr-3" />
		<Button>Hello</Button>
	</section>
</MainLayout>

<script>
	import "../js/utils.js";
</script>
