---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Map">
	<main class="flex w-full h-full">
		<section class="mx-auto">Catalog</section>
		<section class="">
			<div id="map" class="h-[700px] w-[700px]"></div>
		</section>
	</main>
</MainLayout>

<script>
	import "../js/utils.js";
	import Map from "ol/Map";
	import View from "ol/View";
	import TileLayer from "ol/layer/Tile";
	import XYZ from "ol/source/XYZ";

	new Map({
		target: "map",
		layers: [
			new TileLayer({
				source: new XYZ({
					url: "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
				}),
			}),
		],
		view: new View({
			center: [0, 0],
			zoom: 2,
		}),
	});
</script>
