---
import '../styles/main.css';
import FooterLayout from './FooterLayout.astro';
import HeaderLayout from './HeaderLayout.astro';

const { title } = Astro.props;
---

<html lang="en" class="h-full bg-[color:var(--html-bg-color,theme(colors.white))] js-focus-visible">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-sans antialiased text-gray-600 min-h-full flex flex-col [overflow-anchor:none]">
		<HeaderLayout></HeaderLayout>
		<h1 class="text-xl text-cyan-600">{title}</h1>
		<slot>
            Default text
        </slot>
		<FooterLayout></FooterLayout>
	</body>
</html>